body{
   padding: 1%;
   margin: 1%;
}


#navigation
{
  background-color: crimson;
  box-shadow: 5px;
  border-radius: 0px 15px 0px 15px;
}

#navigation ul li {
  border-radius: 5px;
  background-color: white;
   display: inline-block;
   padding: 1%;
   margin: 1%;

}

#navigation ul li a{

}

#sidebar
{
  background-color: red;
  border-radius: 10px;
  color: white;
 # border: 5px;
#  border-color: black;
  font: bolder;
#  padding: 1%;
  float: left;
  width: 30%;

}

#content
{
background-color: CadetBlue ;
#padding: 1%;
 #margin: 3%;
border-radius: 10px;
float: right;
width: 65%;
#margin: 3%;
}

#footer
{
  margin-top: 10%;
  background-color: black;
  font-size: 1.2em;
  color:yellow;
  border-radius: 3px;
 # margin: 1%;
  #padding: 5px;
  width: 99%;
}